.result
{
	width: 500px;
	height: 500px;
	margin: 20px 100px;
	background-color: #white;
}


.result__tr
{
	border-bottom: 1px solid black;
}

.result__tr--head
{
	border-top: 1px solid black;
}

.result__td
{
	padding: 10px 20px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16pt;
}

.result__td--head
{
	background-color: #e6e7e8;
	font-weight: bold;
}